<h3>Your group invitations!</h3>
<% if @invitations.size > 0 %>
  <% @invitations.reverse.each do |invitation| %>
    <h6><%= invitation.group.user.first_name %> has invited you have been invited to join: <%= invitation.group.name.capitalize %>!</h6>
    <%= link_to "Accept", accept_group_usergroup_path(invitation.group_id, invitation), method: :put, class: "btn btn-danger" %>
    <%= link_to "Decline", group_usergroup_path(invitation.group_id, invitation), method: :delete, class: "btn btn-danger" %>
  <% end %>
<% end %>
