// Specific CSS for your home-page

.background-landing{
  height: 1095px;
  background-size: cover;
  background-position:center ;
}

.frame {
	position: absolute;
	top: 50%;
	left: 44%;
	width: 600px;
	height: 400px;
	margin-top: -310px;
	margin-left: -200px;
	border-radius: 2px;
	overflow: hidden;
	color: white;
	font-family: Raleway, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	justify-content: center;
	align-items: center;

}

.button-landing-sign {
	display: flex;
	align-items: center;
	justify-content: center;

	cursor: pointer;

	svg {
		height: 55px;
		width: 150px;
		fill: none;
		stroke-width: 5;

		.o1 {
			stroke: rgba(#FFB341, 0.7);
			fill: #FFA114;
			transition: all 1s ease-in-out;
		}

		.o2 {
			stroke: rgb(255, 255, 255);
			stroke-dasharray: 20 420;
			stroke-dashoffset: 20;
			transition: all 1s ease-in-out;
		}
	}

	span {
		position: absolute;
		margin: auto 0;
		text-transform: uppercase;
		letter-spacing: 3px;
	}

	&:hover {
		.o1{
			fill: rgba(#CC8110, 0.3);
		}

		.o2 {
			stroke-dashoffset: -420;
		}
	}
}

.landing-page-text {
  justify-content: center;
  color: black;
  font-family: Raleway, Helvetica, sans-serif;
  margin-bottom: 120px;
  text-align: center;
}
