<div class="container">
  <%= simple_form_for(@event_user) do |f| %>
  <div class="form-group mb-3 mx-5 px-5">
      <%= f.input :name, class: "form-control", placeholder: "Group name" %>
<<<<<<< HEAD
    <%= f.submit "Submit furniture", class: "btn btn-primary mb-3 w-100" %>
=======
    <%= f.submit "Invite user", class: "btn btn-primary mb-3 w-100" %>
>>>>>>> 52ddb007db23d5f9acebebcf1bd7047c1c8faaa0
  </div>
  <% end %>
</div>
