<%= simple_form_for(@group, html: { class: "nice-class"}) do |f| %>
<div class="form-group mb-3 mx-5 px-5">
    <%= f.input :name, class: "form-control", placeholder: "Group name" %>
    <%= f.input :photo, as: :file, input_html: { multiple: false }, label: "Attach a group photo" %>
  <%= f.submit "Create group", class: "btn btn-primary mb-3 w-100" %>
</div>
<% end %>
