<%= link_to "Create a new group", new_group_path, class: "btn btn-danger" %>
<% @usergroups.reverse.each do |group| %>
  <h1><%= group.group.name %></h1>
  <p><%= link_to "see more", group_path(group.group), class: "btn btn-danger" %></p>
<% end %>
