<% if notice %>
  <div class="alert alert-info alert-dismissible fade show m-1" role="alert">
    <%= notice %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    </button>
  </div>
<% end %>
<% if alert %>
  <div class="alert alert-warning alert-dismissible fade show m-1" role="alert">
    <%= alert %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    </button>
  </div>
<% end %>


<%# <%= link_to "friends #{@friend_count.nil? ? (@friend_count.count > 0 ? "(#{@friend_count})" : '') : friendships_path(current_user)}", class: "btn btn-danger dropdown-item" %>
