<div class="container">
  <% @friendships.each do |friendship| %>
    <p><%= User.find(friendship.friend_one_id).first_name.capitalize %> has sent you a friend request!</p>
    <%= link_to "Accept", accept_user_friendship_path(current_user.id, friendship.id), method: :put, class: "btn btn-danger" %>
  <% end %>
</div>
