.btn.btn-primary{
  width: auto
}

.back-button{
  position: absolute;
  top: 122px;

}

.btn-ghost {
  color: #D8833B;
  border: 1px solid #D8833B;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
  color: #D8833B;
}

.btn-ghost-nav {
  color: #D8833B;
  border: none;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost-nav:hover {
  opacity: 1;
  color: #D8833B;
  border: none;
}

.btn-ghost-nav::after {
  opacity: 1;
  border: none;
}

.nav-pills .nav-link.active{
  color: #fff;
  background-color: #F4B658;
}
