.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  font-family: 'Josefin Sans', sans-serif;
}

.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  .card-product-infos {
    padding: 16px;
  }
  p {
    font-size: 12px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
  }
  h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }
  img {
    height: 100%;
    width: 120px;
    object-fit: cover;
  }
}

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  .card-trip-user {
    position: absolute;
    right: 160px;
    width: 90px;
    height: 90px;
    bottom: -10px;
  }
  .card-trip-infos {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
  }
  p {
    font-size: 12px;
    opacity: .7;
    margin: 0;
  }
  h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}


.group-card{
  height: 100px;
  width: 800px;
  background-color: #FFB341;
  font-family: 'Josefin Sans', sans-serif;
  border-radius: 12px;
  padding: 12px;
  display: flex;
  margin: 0 auto 16px;
  align-items: center;
  a {
    color:rgba(255, 255, 255, 0.904);
    margin-left: 40px;
    margin-bottom: 0;
    text-decoration: none;
  }
}

.group-card:hover{
  background-color:#faa21d;

 a{
   color:#ffffff ;
 }
}
.event-card {

  height: 50px;
  width: auto;
  background-color: #FFB341;
  font-family: 'Josefin Sans', sans-serif;
  border-radius: 12px;
  padding: 12px;
  display: flex;
  margin: 0 auto 16px;
  align-items: center;
  a {
    color:rgba(255, 255, 255, 0.904);
    margin-left: 40px;
    margin-bottom: 0;
    text-decoration: none;
  }
}
